body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: rgb(0, 30, 30);
}
*{
  text-decoration: none;
  color: whitesmoke;
  font-family: lexend;
}
.introduction{
  width: 70%;
  margin: auto;
}
.hi-myname{
  margin-right: 100px;
  font-size: 55px;
  font-weight: bold;
  text-align: left;
  max-width: 40vw;
  margin-top: 20vh;
  display: inline-block;
}
.aboutMe-Image {
  max-width: 100%;
  max-height: calc(100vh - 20vh);
  width: auto;
  margin: 0 auto;
  border-radius: 10px;
}
.second-text{
  font-size: 35px;
  font-family: lexend;
  font-weight: bold;
  width: 70%;
  margin: auto;
  margin-top: 20vh;
}

.active {
  background-color: #2d456c;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2125;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.contact-div{
  margin-top: 10vh;
  width: 100vw;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.contact{
  display: inline-block;
  width: 200px;
}



.card {
  width: 70%;
  transform: scale(2);
  margin: auto;
  margin-top: 200px;
  align-items: center;
  justify-content: center;
  color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  color: transparent;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.body {
  padding: 20px;
}

.skill {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: transparent;
}

.skill-name {
  width: 120px;
  font-size: 16px;
}

.skill-level {
  width: 160px;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  background-color: #333;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}