body, html {
  height: 100%;
  font-family: Lexend;
}
body{
  background-image: url('Images/BG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(213, 178, 48);
}

.title{
  font-family: Lexend;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}

.project-div{
  margin: auto;
  width:90%;
  max-height: 380px;
  display: flex;
  overflow-x: scroll;
}
.project-div::-webkit-scrollbar{
  width: 0;
}
.project-div .project-image{
  min-width: 350px;
  height: 350px;
  line-height: 350px;
}
.project-image{
  margin-right: 2%;
  background-size: cover;
  border-radius: 30px;
  border-width: 20px;
  border-color: black;
  box-shadow: 10vmin,10vmin,0,rgba(0, 0, 0, 0.795);
  transition: margin-right 1s ease-in-out;
}
.project-image:hover{
  margin-right: 30%;
}
.project-image:nth-child(1){
  background-image: url('Images/2IGP13_E_Surmont_Sebastien_exam_screen01.jpg');
}
.project-image:nth-child(2){
  background-image: url('Images/2IGP13_E_Surmont_Sebastien_exam_screen01.jpg');
}
.project-image:nth-child(3){
  background-image: url('Images/2IGP13_E_Surmont_Sebastien_exam_screen01.jpg');
}
.project-image:nth-child(4){
  background-image: url('Images/2IGP13_E_Surmont_Sebastien_exam_screen01.jpg');
}
.project-image:nth-child(5){
  background-image: url('Images/2IGP13_E_Surmont_Sebastien_exam_screen01.jpg');
}
.project-image:nth-child(6){
  background-image: url('Images/2IGP13_E_Surmont_Sebastien_exam_screen01.jpg');
}

.about-me-description{
  width: 450px;
  text-align: center;
  margin-left: 540px;
  color: rgb(42, 42, 42);
}
.about-me{
  justify-content: center;
  position: relative;
  align-items: center;
  margin-bottom: 250px;
  margin-top: 250px;
}
.socials-bar{
  display: grid;
  grid-template-columns: repeat(4, 200px);
  background-color: rgba(0, 0, 0, 0.06);
  justify-content: center;
  position: relative;
  align-items: center;
}
.social-link{
  color: white;
  width: 10px;
  position: relative;
  left:45%;
}


#hiddenContent{
  font-size: large;
}