body{
  background-color: rgb(0, 30, 30);
}
*{
  color: whitesmoke;
  font-family: lexend;
}
.row{
  /* width: fit-content; */

  gap: 1rem;
  padding-block: .5rem;

  
  align-items: center;

  flex-wrap: nowrap;

  display: flex;

  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.row[data-direction="right"]{
  --_animation-direction: reverse;
}
.row[data-direction="left"]{
  --_animation-direction: forwards;
}
.row[data-speed="slow"]{
  --_animation-duration: 120s;
}
.row[data-speed="fast"]{
  --_animation-duration: 20s;
}
.row-holder{
  margin-top: 100px;

  overflow: hidden;
  -webkit-mask:
   linear-gradient(90deg,transparent, white 10%, white 90%, transparent);
  mask: linear-gradient(90deg,transparent, white 10%, white 90%, transparent);
}
.piece{
  background-color: black;
  object-fit: cover;
  min-height: 270px;
  max-height: 270px;
  min-width: var(--_piece-width, 475px);
  max-width: var(--_piece-width, 475px);
  border-radius: 10px;
  transition: transform .3s ease-in-out;
}
.piece:hover{
  transform: scale(1.1); 
}
.hi-myname{
  color: white;
  font-size: 45px;
  font-family: lexend;
  font-weight: bold;
  margin-left: 12vw;
  margin-top: 20vh;
}
@keyframes scroll{
  to{
    transform: translate(calc(-50% - .5rem));
  }
}
.active {
  background-color: #2d456c;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f2125;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}