:root{
  --cards-corner-rounding: 10px;
}
body{
  background-color: rgb(250, 244, 215);
  overflow: hidden;
}
p{
  font-family: Lexend;
}

.hi-myname {
  position: absolute;
  height: 100%;
  font-family: Lexend;
  font-weight: bold;
  transform: translate(50vw, 50vh);
}
.reset{
  margin: 0;
  padding: 0; 
  border: 0;
}
#gallery{
  display: grid;
  align-items: center;
  position: absolute;
  width: 2200px;
  min-height: 1700px;

  overflow: hidden;
}
.project-cards{
  position: absolute;
  border-radius: var(--cards-corner-rounding);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.159);
  transition: transform .15s;
  overflow: hidden;
}
.project-cards-text{
  background-color: rgba(0, 0, 0, 0.786);
  background-size: cover;
  color: whitesmoke;
  font-size: 32px;
  text-align: center;
  top: 50%;
  height: 100%;
  width: 100%;
  margin: auto;
  opacity: 0%;
  transition: opacity 1s;
}
.project-cards:hover .project-cards-text{
  opacity: 100%;
}
.project-cards:hover{
  transform: scale(1.1);
}
.project-cards:nth-child(1){
  background-image: url("Images/robot.png");
  background-position: 50%;
  background-size: cover;
  background-color: rgb(10, 87, 241);
  width: 400px;
  height: 550px;
  left: 55%;
  top: 45%;
}
.project-cards:nth-child(2){
  background-image: url("Images/ytchannel.png");
  background-size: cover;
  background-color: rgb(10, 241, 79);
  width: 350px;
  height: 500px;
  left: 52%;
  top: 12%;
}
.project-cards:nth-child(3){
  background-image: url("Images/tree.png");
  background-size: cover;
  background-color: rgb(10, 87, 241);
  width: 500px;
  height: 350px;
  left: 72%;
  top: 22%;
}
.project-cards:nth-child(4){
  background-image: url("Images/PostIt.png");
  background-size: cover;
  background-color: rgb(241, 241, 10);
  width: 350px;
  height: 500px;
  left: 5%;
  top: 20%;
}
.project-cards:nth-child(5){
  background-image: url("Images/2IGP13_E_Surmont_Sebastien_exam_screen01.jpg");
  background-size: cover;
  background-color: rgb(10, 87, 241);
  width: 500px;
  height: 350px;
  left: 7%;
  top: 59%;
}
.project-cards:nth-child(6){
  background-image: url("Images/HexGame.png");
  background-size: cover;
  background-color: rgb(10, 87, 241);
  width: 500px;
  height: 350px;
  left: 26%;
  top: 14%;
}
.project-cards:nth-child(7){
  background-image: url("Images/gamedesign.png");
  background-size: cover;
  background-color: rgb(241, 241, 10);
  width: 350px;
  height: 350px;
  left: 35%;
  top: 40%;
}
.project-cards:nth-child(8){
  background-image: url("Images/btpcollab.png");
  background-size: cover;
  background-color: rgb(241, 241, 10);
  width: 350px;
  height: 450px;
  left: 37%;
  top: 65%;
}
.project-cards:nth-child(9){
  background-image: url("Images/ragdollgolf.png");
  background-size: cover;
  background-color: rgb(10, 87, 241);
  width: 400px;
  height: 500px;
  left: 76%;
  top: 57%;
}